*
!bot
!Caddyfile
!CMakeLists.txt
!conanfile.py
!Dockerfile
!.env.example
!.gitignore
!Makefile
!manager.py
!postgres
!README.md
!requirements.txt
!scripts
!test_code
!utils
!youtube_api
!zsh_manager_completions
!docker
!cmake
