*
!.gitignore
!README.md
!bot
!cleaner
!downloader
!cron
!Makefile
!conanfile.py
!requirements.txt
!docker
!.env.example
!CMakeLists.txt
!Dockerfile
!docker-compose
!utils
!scripts
!manager.py
!nginx
!postgres
!test_code
!Caddyfile
!zsh_manager_completions
!youtube_api