*
!.gitignore
!README.md
!bot
!cleaner
!downloader
!cron
!Makefile
!conanfile.py
!requirements.txt
!docker
!conanprofile.txt
!.env.example
!CMakeLists.txt
!Dockerfile
!docker-compose
!utils
!scripts
!manager.py
!test_code
