*
!.gitignore
!Start
!Menu
!Access
!NotFound
!Dice
!YouTube
!CallbackDeleter
!InterfaceBotHandler.hpp
!Keys.hpp
!TaskTracker
!GetTasks
!GetTask
!NewTask
!PatchTask
!list_handlers.hpp
!list_handlers.cpp