volumes:
  bot_logs:
  bot_tmp:
  file_buffer:

services:
  bot:
#    extends:
#       file: ./parents.yml
#       service: parent
    build: ..
    ports:
      - ${BOT_EXTERNAL_PORT:-127.0.0.1:8080}:8080
    volumes:
      - bot_logs:/volumes/logs
      - bot_tmp:/volumes/tmp
      - file_buffer:/volumes/file_buffer:ro
      - ../build/${PROJECT_BUILD}/bot/BOT:/app:ro
    environment:
      - AUTH_KEY=${AUTH_KEY}
      - BOT_TOKEN=${BOT_TOKEN}
      - BOT_ADMINS=${BOT_ADMINS}
      - WEBHOOK_URL=${BOT_WEBHOOK_URL}
      - WEBHOOK_PATH=/webhook
      - TELEGRAM_API_URL=${TELEGRAM_API_URL}
      - TASK_TRACKER_URL=http://task_trakcer:8080
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${BOT_USER}
      - DB_PASSWORD=${BOT_PASSWORD}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=15672
      - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
      - LISTEN_IP=0.0.0.0
      - LISTEN_PORT=8080
      - YOUTUBE_API_URL=http://youtube_api:8080
      - TMP_PATH=/volumes/tmp
      - LOGS_PATH=/volumes/logs
      - SHARED_PATH=/shared/
      - FILE_BUFFER_PATH=/volumes/file_buffer
      - DOWNLOADER_QUEUE_NAME=downloader
