*
!.gitignore
!logo.png
!bot.html
!top.html
!logo2.png
!icons
!icons/7z.png
!icons/mp3.png
!icons/avi.png
!icons/deb.png
!icons/zip.png
!icons/sh.png
!icons/torrent.png
!icons/wmv.png
!icons/pdf.png
!icons/iso.png
!icons/wma.png
!icons/rar.png
!icons/tiff.png
!icons/wav.png
!icons/mp4.png
!icons/bmp.png
!icons/jpg.png
!icons/cmd.png
!icons/ppt.png
!icons/png.png
!icons/c  .png
!icons/c.png
!icons/txt.png
!icons/raw.png
!icons/error.png
!icons/gzip.png
!icons/docx.png
!icons/swf.png
!icons/pptx.png
!icons/css.png
!icons/home.png
!icons/js.png
!icons/bin.png
!icons/ogg.png
!icons/xlsx.png
!icons/exe.png
!icons/jpeg.png
!icons/php.png
!icons/sql.png
!icons/psd.png
!icons/xls.png
!icons/bat.png
!icons/gif.png
!icons/ico.png
!icons/html.png
!icons/doc.png
!icons/svg.png
!icons/msg.png
!icons/java.png
!icons/py.png
!icons/folder.png
!betterlisting.js
!style.css